<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.briup.party.dao.AcademyMapper" >
  <resultMap id="BaseResultMap" type="com.briup.party.bean.table.Academy" >
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="college_id" property="collegeId" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, college_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from academy
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from academy
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.briup.party.bean.table.Academy" >
    <selectKey resultType="java.lang.Short" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into academy (name, college_id)
    values (#{name,jdbcType=VARCHAR}, #{collegeId,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.party.bean.table.Academy" >
    <selectKey resultType="java.lang.Short" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into academy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="collegeId != null" >
        college_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.party.bean.table.Academy" >
    update academy
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        college_id = #{collegeId,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.party.bean.table.Academy" >
    update academy
    set name = #{name,jdbcType=VARCHAR},
      college_id = #{collegeId,jdbcType=SMALLINT}
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <!--List<Branch> findBranchByIdArray(List<Short> list);-->

  <!--List<Branch> findBranchById(Short id);-->
  <select id="findBranchById" parameterType="java.lang.Short" resultType="com.briup.party.bean.table.Branch">
    select * from branch
    where academy_id = #{id}
  </select>
  <!--List<Branch> findBranchByIdArray(List<Short> list);-->
  <select id="findBranchByIdArray" parameterType="java.util.List" resultType="com.briup.party.bean.table.Branch">
    select * from branch  where branch.academy_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>

  </select>
  <!--Short getBranchCount(Short id);-->
  <select id="getBranchCount" resultType="Short" parameterType="Short">
    SELECT COUNT(*) FROM branch
    where academy_id = #{id}
  </select>
</mapper>